 		<div class='container' ng-controller="BioTask">
				<div class='row well well-sm' >
					<div class='col-md-12'><h4>Buscar resultado de uma query já existente:</h4></div>

					<div class='col-md-8'><input type="text" class="form-control" ng-model="chooseTaskName"></div>

					<div class='col-md-4'><button class="btn btn-primary btn-sm" ng-click="chooseTask()">Buscar</button></div>
				</div>
				<div class='row well well-sm' >
					<div class='col-md-12'><h4>Query</h4></div>

					<div class='col-md-12'><p>{{'WRITE_QUERY'| translate}}</p></div>
					<div class='col-md-10'><textarea id='txtQuery' class="form-control" rows="5" ng-model='query'></textarea></div>
					<div class='col-md-2'><button class='btn btn-primary btn-sm' onclick="clearTextQuery()">{{'CLEAR'| translate}}</button></div>
					<div class='col-md-12'><p>{{'CHOOSE_FILE'| translate}}</p></div>
					<div class='col-md-10'><input id='filQuery' type="file" file-upload class="form-control" style='padding: 5px'/></div>
					<div class='col-md-2'><button class='btn btn-primary btn-sm' onclick="clearFileQuery()">{{'CLEAR_FILE'| translate}}</button></div>
				</div>
				<div class='row well well-sm' >
					<div class='col-md-6'>
						<h4>{{'DATABASETITLE_LABEL'| translate}}</h4>
						<img ng-hide="loadingDatabase" src="assets/img/ajax-loader.gif" />
						<select class="form-control width-max-sized"
									ng-model='selectedDB'
									ng-show="loadingDatabase"
									ng-options="database.name for database in biodatabases">
								<option value="">{{'DATABASETITLE_SELECT'| translate}}</option>
						</select>
					</div>
					<div class="col-md-6" ng-show="selectedDB">
						<div class="panel panel-default">
								<div class="panel-body">
									<h4>{{'DATABASENAME_LABEL'| translate}}: {{selectedDB.name}} 
										<small>{{'DATABASEFORMAT_LABEL'| translate}}: {{selectedDB.format}}</small>
									</h4>
									{{'DATABASEDESCRIPTION_LABEL'| translate}}:
									<p>{{selectedDB.description}}</p>
									URL: <a href="{{selectedDB.url}}">{{selectedDB.url}}</a>
								</div>
						</div>
					</div>
				</div>
				<div class='row well well-sm' >
					<div class='col-md-6'>
						<h4>{{'ALGORITHMTITLE_LABEL'| translate}}</h4>
						<img ng-hide="loadingAlgorithm" src="assets/img/ajax-loader.gif" />
						<select class="form-control width-max-sized"
									ng-model='selectedAlg'
									ng-show='loadingAlgorithm'
									ng-options="algorithm.name for algorithm in bioalgorithms | filter:{allowedFormats:selectedDB.format||''}"
									ng-change="selectedAlgorithmChanged()">
								<option value="">{{'ALGORITHMTITLE_SELECT'| translate}}</option>
						</select>
					</div>
					<div class="col-md-6" ng-show="selectedAlg">
						<div class="panel panel-default">
								<div class="panel-body">
									<h4>{{'ALGORITHMNAME_LABEL'| translate}}: {{selectedAlg.name}} 
										<small ng-show="selectedAlg.allowedFormats">{{'ALGORITHMFORMAT_LABEL'| translate}}:</small><small ng-repeat='format in selectedAlg.allowedFormats'>{{format}} |</small>
									</h4>
									{{'ALGORITHMDESCRIPTION_LABEL'| translate}}:
									<p>{{selectedAlg.description}}</p>
									{{'ALGORITHMPROVIDER_LABEL'| translate}}: 
									<a href="{{selectedAlg.url}}" ng-show='selectedAlg.provider'>{{selectedAlg.provider}}</a>
									<a href="{{selectedAlg.url}}" ng-hide='selectedAlg.provider'>{{'ALGORITHMPROVIDER_NULL'| translate}}</a>
								</div>
						</div>
					</div>
				</div>
				<div class='row well well-sm' ng-show='selectedAlg'>
					<div class='col-md-3' ng-repeat='parameter in selectedAlg.parameters'>
						<label class="control-label">{{parameter.exibitionName}}</label>
						<input class="form-control input-sm" ng-model="taskParameters[$index].parameterValue" type="text">
					</div>
				</div>
				<div class='row' >
					<div class='col-md-12'>
						<button type="button" id='btnSubmit' ng-click="submit()" class="btn btn-primary"> {{'SEND_TASK'| translate}} </button>
					</div>
				</div>

				<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">Modal title</h4>
								</div>
								<div class="modal-body">
									...
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-primary">Save changes</button>
								</div>
						</div>
					</div>
				</div>

		</div>
        