<div class="container">
    <div class="row">
        <div class='col-lg-12 col-md-12 col-xs-12'>
            <div class="page-header">
                <h1> {{'SIMPLE_TITLE' | translate}}  <small>{{'SIMPLE_SUBTITLE' | translate}}</small></h1>
            </div>
        </div>
    </div>
    <div class="row well well-lg">
        <div class="col-md-3">
            <img src="http://wallpoper.com/images/00/42/89/47/dna-wallpaper-3d-models-3d_00428947.jpg" alt="..." class="img-rounded img-responsive">                
        </div>
        <div class="col-md-9">
            <h4 class="text-primary">
                {{'INITIAL_TEXT' | translate}}
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ">
            <div class="row well well-lg">
                <h2> {{'SIMPLE_TITLE' | translate}}</h2>
                <p>{{'HOME_TEXT_1' | translate}}</p>
                <p>{{'HOME_TEXT_2' | translate}}</p>
                <p>{{'HOME_TEXT_3' | translate}}<a href="#/help/">{{'CLICKING_HERE' | translate}}</a>.
                </p>
                <p>{{'HOME_TEXT_4' | translate}}<a href="#/help/">{{'CLICKING_HERE' | translate}}</a>.</p>
                
            </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <div class="row well well-lg">
                <h2>{{'CATEGORIES' | translate}}</h2>
                <p><a href="#/help/">Alinhamento</a></p>
                <p><a href="#/help/">Similaridade</a></p>
                <p><a href="#/help/">Conversão de Bases de Dados</a></p>
            </div>
            <div class="row well well-lg">
                <h2>{{'WHO_WE_ARE' | translate}}</h2>
                <img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/15896_10200419808573566_3945804196219294979_n.jpg?oh=14916a3050632ad2d8afa59c7b88d4cb&oe=5618EED3&__gda__=1445473518_5fbeaa1264d9fc0e5ed1cc20100d2637" alt="..." class="img-circle" width="100px"> Jéssica Thaisa Silva de Almeida
                <p>{{'JESSICA_SIMPLE_DESCRIPTION' | translate}}</p>
                <p>{{'CONTACT' | translate}} <a href="#/help/">{{'CLICKING_HERE' | translate}}</a>.</p>
            </div>
        </div>
    </div>
</div>