<!doctype html>
<html ng-app='bioIntegrator'>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta charset="UTF-8">
        <title>{{'TITLE'| translate}}</title>

        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/bioIntegrator.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('.dropdown-toggle').dropdown();
            });
        </script>
        <script src="js/angular-translate.js"></script>
        <script src="js/translationpack.js"></script>
        <script src="js/app.js"></script>
    </head>

    <body>
        <div class='container-fluid'>
            <div ng-include="'inc/menu.html'"></div>
        </div>

        <div class='container' ng-controller="BioTask">
            <div class='row well well-sm' >
                <div class='col-md-8'>
                    <h4>Query</h4>
                    <p></p>
                    <textarea class="form-control" rows="5" ng-model='query'></textarea>
                </div>
            </div>
            <div class='row well well-sm' >
                <div class='col-md-6'>
                    <h4>{{'DATABASETITLE_LABEL'| translate}}</h4>
                    <img ng-hide="loadingDatabase" src="img/ajax-loader.gif" />
                    <select class="form-control width-max-sized"
                            ng-model='selectedDB'
                            ng-show="loadingDatabase"
                            ng-options="database.name for database in biodatabases">
                        <option value="">{{'DATABASETITLE_SELECT'| translate}}</option>
                    </select>
                </div>
                <div class="col-md-6" ng-show="selectedDB">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4>{{'DATABASENAME_LABEL'| translate}}: {{selectedDB.name}} 
                                <small>{{'DATABASEFORMAT_LABEL'| translate}}: {{selectedDB.format}}</small>
                            </h4>
                            {{'DATABASEDESCRIPTION_LABEL'| translate}}:
                            <p>{{selectedDB.description}}</p>
                            URL: <a href="{{selectedDB.url}}">{{selectedDB.url}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row well well-sm' >
                <div class='col-md-6'>
                    <h4>{{'ALGORITHMTITLE_LABEL'| translate}}</h4>
                    <img ng-hide="loadingAlgorithm" src="img/ajax-loader.gif" />
                    <select class="form-control width-max-sized"
                            ng-model='selectedAlg'
                            ng-show='loadingAlgorithm'
                            ng-options="algorithm.name for algorithm in bioalgorithms | filter:{allowedFormats:selectedDB.format||''}"
                            ng-change="selectedAlgorithmChanged()">
                        <option value="">{{'ALGORITHMTITLE_SELECT'| translate}}</option>
                    </select>
                </div>
                <div class="col-md-6" ng-show="selectedAlg">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4>{{'ALGORITHMNAME_LABEL'| translate}}: {{selectedAlg.name}} 
                                <small ng-show="selectedAlg.allowedFormats">{{'ALGORITHMFORMAT_LABEL'| translate}}:</small><small ng-repeat='format in selectedAlg.allowedFormats'>{{format}} |</small>
                            </h4>
                            {{'ALGORITHMDESCRIPTION_LABEL'| translate}}:
                            <p>{{selectedAlg.description}}</p>
                            {{'ALGORITHMPROVIDER_LABEL'| translate}}: 
                            <a href="{{selectedAlg.url}}" ng-show='selectedAlg.provider'>{{selectedAlg.provider}}</a>
                            <a href="{{selectedAlg.url}}" ng-hide='selectedAlg.provider'>{{'ALGORITHMPROVIDER_NULL'| translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row well well-sm' ng-show='selectedAlg'>
                <div class='col-md-3' ng-repeat='parameter in selectedAlg.parameters'>
                    <label class="control-label">{{parameter.exibitionName}}</label>
                    <input class="form-control input-sm" ng-model="taskParameters[$index].parameterValue" type="text">
                </div>
            </div>
            <div class='row' >
                <div class='col-md-12'>
                    <button type="button" ng-click="submit()" class="btn btn-primary"> {{'SENT_TASK'| translate}} </button>
                </div>
            </div>

        </div>

    </body>
</html>