<nav class="navbar navbar-default" id="MenuSite">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Bio-ABA</a>
        </div>
        <div class="collapse navbar-collapse" ng-controller="HeaderController">
            <ul class="nav navbar-nav">
                    <li ng-hide="user"><a href="#/home/">{{'HOME' | translate}}</a></li>
                    <li ng-hide="user"><a href="#/help/">{{'HELP' | translate}}</a></li>
                    <li ng-hide="user"><a href="#/contact/">{{'CONTACT' | translate}}</a></li>
                    <li ng-show="user"><a href="#/administrador/home/">{{'HOME' | translate}}</a></li>
                    <li ng-show="user"><a href="#/administrador/categories/">{{'CATEGORIES' | translate}}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="user"><a href="#/administrador/login">Login</a></li>
                <li ng-show="user"><a ng-click="logout()" href="">Sair</a></li>
                <li ng-controller="SwitchLanguageController"><a ng-click="toggleLang()" href="">PT / EN</a></li>
            </ul>
        </div>
    </div>
</nav>